/* Home.css */
.home-container {
  padding: 20px;
  background-color: #ffffff; /* 흰색 배경 */
  border-radius: 5px; /* 모서리 둥글게 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 64px; /* Header 높이 만큼의 마진 추가 */
}

/* Home.css, InventoryManager.css, ProductForm.css에 추가 */
.container {
  padding: 20px;
  margin-top: 64px; /* Header 높이만큼 여백 추가 */
}
