/* Layout.css */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiBox-root {
  display: flex;
}

/* 메인 콘텐츠 영역 스타일 */
main {
  flex-grow: 1;
  padding: 24px; /* 메인 콘텐츠 패딩 설정 */
  background-color: #f4f4f4; /* 배경 색상 */
}

.MuiToolbar-root {
  min-height: 48px !important; /* 중요 지정자를 사용하여 기본값을 강제로 오버라이드 */
}

.MuiPaper-root {
  box-shadow: none; /* 필요 시 그림자 제거 */
}
