.layout {
  display: flex;
}

.main-content {
  flex-grow: 1; /* 메인 콘텐츠가 가능한 공간을 모두 차지 */
  transition: margin-left 0.3s; /* 부드러운 전환 효과 */
  margin-left: 0; /* 사이드바가 닫혔을 때의 기본 값 */
}

.sidebar-open .main-content {
  margin-left: 240px; /* 사이드바가 열렸을 때의 마진 */
}