.layout {
  display: flex;
}

.sidebar {
  width: 240px; /* 고정 사이드바 너비 */
  background-color: #f4f4f4;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  transition: background-color 0.3s;
}

.dim {
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
}
